.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button span {
  margin-left: 8px;
}

.button:hover {
  background-color: #0056b3;
}

.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}