.App {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.App-header {
  background-color: var(--header-bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--text-color);
}

button {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  background-color: var(--button-hover-color);
}

button span {
  margin-left: 8px;
}

.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.dark-mode-toggle {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark .dark-mode-toggle {
  background-color: var(--dark-mode-button-background);
} 

:root {
  --dark-mode-button-background: #444;
} 

.dark .App {
  background-color: var(--dark-mode-background);
} 

.dark .App-header {
  background-color: var(--dark-mode-header-background);
  color: var(--dark-mode-text-color);
} 

.dark button {
  color: var(--dark-mode-text-color);
} 