.App {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.AppHeader {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ButtonLocal {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ButtonLocal span {
  margin-left: 8px;
}

.ButtonLocal:hover {
  background-color: #0056b3;
}

.ButtonContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
