body {
  transition: background 0.3s, color 0.3s;
}

.light-mode {
  background-color: #ffffff;
  color: #000000;
}

.dark-mode {
  background-color: #1e1e1e;
  color: #ffffff;
}

.card {
  background-color: inherit;
  color: inherit;
}