:root {
  --primary-color: #007bff;
  --secondary-color: #f9f9f9;
  --text-color: #ffffff;
  --header-bg-color: #282c34;
  --card-bg-color: #ffffff;
  --dark-bg-color: #2c2c2c;
  --dark-btn-bg-color: #444;
  --dark-text-color: #e4e4e4;
  --dark-header-bg-color: #1e1e1e;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  background-color: var(--secondary-color);
}

button {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.App-header {
  background-color: var(--header-bg-color);
}

.dark .App {
  background-color: var(--dark-bg-color);
  color: var(--dark-text-color);
}

.dark button {
  background-color: var(--dark-btn-bg-color);
  color: var(--dark-text-color);
}

.dark .App-header {
  background-color: var(--dark-header-bg-color);
}
