:root {
  --primary-color: #007bff;
  --secondary-color: #f9f9f9;
  --text-color: #333;
  --header-bg-color: #282c34;
  --card-bg-color: #ffffff;
  --dark-bg-color: #2c2c2c;
  --dark-btn-bg-color: #444;
  --dark-text-color: #e4e4e4;
  --dark-header-bg-color: #1e1e1e;
}

body.dark {
  --primary-color: #0056b3;
  --secondary-color: #333;
  --text-color: #e4e4e4;
  --header-bg-color: #1e1e1e;
}

.App {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.App-header {
  background-color: var(--header-bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

button {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  background-color: var(--header-bg-color);
}

button span {
  margin-left: 8px;
}

.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.dark-mode-toggle {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dark .dark-mode-toggle {
  background-color: var(--dark-btn-bg-color);
}
