@tailwind base;
@tailwind components;
@tailwind utilities;

.dark-mode-toggle {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.dark .dark-mode-toggle {
  background-color: #444;
}